<h1 class = "homepage-Title"> Wecome to Todo Manager</h1>
<h3 class = "homeAuthendicate"> If your are new User, <%= link_to "Sign Up here", new_user_path %> </h3>
<h3 class = "homeAuthendicate"> if Existing user, <%= link_to "Sign In", new_sessions_path %> </h3>
