
<main class="TodoPageMain">
  <article>
  <h1 class="TodoPage-title" >My Todo-List</h1>

    <%= form_with(url: "/todos", class:"AddTodo", method: "post") do %>
      <input class="AddTodo-Text" type="text" placeholder="What's next?" name = "todo_text">
      <input class="AddTodo-Date" type="date" name = "due_date">
      <input class="AddTodo-Button" type="submit" value="Add">
    <% end %>

    <%= render partial:"todo-section", locals: {
      section_title:"Overdue",
      todos:Todo.overdue,
      show_due_date: true
      }%>
    <%= render partial:"todo-section", locals: {
      section_title:"Due Today",
      todos:Todo.duetoday,
      show_due_date: false
      }%>
    <%= render partial:"todo-section", locals: {
      section_title:"Due Later",
      todos:Todo.duelater,
      show_due_date: true
      }%>
  </article>
</main>
