
<main class="TodoPageMain">
  <article>
  <h1 class="TodoPage-title">My Todo-List</h1>
    <section class="AddTodo-Section">
      <input class="AddTodo-Text" type="text" placeholder="What's next?">
      <input class="AddTodo-Date" type="date">
      <input class="AddTodo-Button" type="button" value="Add">
    </section>
    <%= render partial:"todo-section", locals: {
      section_title:"Overdue",
      todos:Todo.overdue,
      show_due_date: true
      }%>
    <%= render partial:"todo-section", locals: {
      section_title:"Due Today",
      todos:Todo.duetoday,
      show_due_date: false
      }%>
    <%= render partial:"todo-section", locals: {
      section_title:"Due Later",
      todos:Todo.duelater,
      show_due_date: true
      }%>
  </article>
</main>
