.homepage-Title
{
  margin-bottom: 20px;
  font-size: 20px;
  color: blue;
  font-weight: bold;
}
.homeAuthendicate
{
  margin-bottom:20px;
}
.current_user
{
  margin-bottom: 20px;
  background-color: darkgray;
  padding: 10px;
  color: royalblue;
  display: flex;
  justify-content: space-between;
}
