<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Our Todo Management App</title>
  <link rel="stylesheet" type="text/css" href="reset.css">
  <link rel="stylesheet" type="text/css" href="myapp.css">
</head>

<body>
  <main class="TodoPageMain">
    <img class="splashImages" src="splash.jpg" \>
    <article>
      <h1 class="TodoPage-title">My Todo-List</h1>
      <section class="Todosection">
        <h2 class="TodoSection-title">Due Today</h2>
        <p class="TodoSection-todo">Submit SaaS project</p>
        <p class="TodoSection-todo">Call accountant</p>
      </section>
      <section class="Todosection">
        <h2 class="TodoSection-title">Due Tommorrow</h2>
        <p class="TodoSection-todo">Refil groceries</p>
      </section>
    </article>
  </main>

</body>

</html>
